@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 84%;
    margin: 0 auto;
}


/* ------------------------------ */
/* ---------NAVBAR----------- */
/* ------------------------------ */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}


.list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding-bottom: 2rem;
    border-bottom: 2px solid #ffffff;
}

.list-items a {
       display: inline-block;
       margin: 0 1.5rem;
       font-size: 1.3rem;
       color: #ffffff;
       text-decoration: none;
       
}

.list-items a:first-child {
    margin-left: 0;
    padding-left: 0;
}

.list-items div {
    display: flex;
    margin-left: 2rem;
    align-items: center;
}

.phone-icon {
    color: #ffffff;
    font-size: 2.3rem;
}

.list-items p {
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}

/* ------------------------------ */
/* ---------HEADER-SECTION----------- */
/* ------------------------------ */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.heading {
    margin-top: 2rem;
    width: 50%;
}

header h1 {
    font-size: 4rem;
    color: #ffffff;  
    margin-bottom: 4rem;
}

header button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: #ffffff;
    border: 3px solid #ffffff;
    background-color: transparent;
    border-radius: 3rem;   
}

.trans-box {
    margin: 2rem;
    padding: 2rem;
    padding-right: 1rem;
    background-color: rgba(255,255,255,0.1)
}

.trans-box img {
        display: inline-block;
        width: 8rem;
        padding: 0.1rem 2rem;
        background-color: #ffffff;
        border:none;
        border-radius: 2rem;
        margin-bottom: 1rem;
} 

.trans-box p {
    color: #ffffff;
    word-spacing: 0.2rem;
}

.box1 {
    position: absolute;
    width: 20%;
    top: 30rem;
    right: 30rem;
   
}

.box2 {
    position: absolute;
    width: 20%;
    top:10rem;
    right: 6rem;
}

/* ------------------------------ */
/* ---------STICKS----------- */
/* ------------------------------ */

.stick1 span:first-child {
    position: absolute;
    top: 22.7rem;
    right: 13rem;
    height: 5rem;
    border: 1px solid #ffffff;
}

.stick2 span:first-child {
    position: absolute;
    top: 37rem;
    right: 26rem;
    width: 6rem;
    border: 1px solid #ffffff;
}


/* ------------------------------ */
/* ---------BULLETS----------- */
/* ------------------------------ */

.stick1 span:nth-child(2) {
    position: absolute;
    top: 21.1rem;
    right: 11.9rem;
    font-size: 8rem;
    color: #ffffff;
}

.stick2 span:nth-child(2) {
    position: absolute;
    top: 30rem;
    right: 25rem;
    font-size: 8rem;
    color: #ffffff;
}






/* ------------------------------------------------------------------- */
/* -----------------RESPONSIVE-USING-MEDIA-QUERIES-------------------- */
/* ------------------------------------------------------------------- */






/* -------------LARGER-SCREEN------------------ */


@media screen and (max-width: 1295px) {

    body {
        background-image: url(./assets/bg.png);
        background-size: cover;
        background-position: center right;
        background-repeat: no-repeat;
        min-height: 100vh;
        position: relative;
    }

    /* ------------NAVBAR------------ */

     nav {
        
        align-items: center;
        margin-top: 2rem;
    }
    
    
    .list-items {
        padding-bottom: 2rem;
        margin-top: 2rem;
        border-bottom: 2px solid #ffffff;
    }
    
    .list-items a {
           display: inline-block;
           margin: 0 0.8rem;
           font-size: 1.2rem;   
    }


    .list-items div {
        display: flex;
        margin-left: 1rem;
        align-items: center;
    }
    
    .phone-icon {
        color: #ffffff;
        font-size: 1.5rem;
    }
    
    .list-items p {
        margin-left: 1rem;
        margin-bottom: 0.3rem;
        font-size: 0.8rem;
    } 
 

    /* ---------HEADER-SECTION----------- */


    header {
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
    }

    .heading {
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
        width: 80%;
        text-align: center
    }

    .heading h1 {
        font-size: 3rem;
    }


    header button {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        color: #ffffff;
        border: 3px solid #ffffff;
        background-color: transparent;
        border-radius: 3rem;   
        
    }


    .box1 {
        position: static;
        width: 60%;
        margin: 3rem auto;
        text-align: center;
        
       
    }
    
    .box2 {
        position: static;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 4rem;
    }


    .stick1 {
       display: none
    }

    .stick2 {
        display: none
     }
    


}


/* -------------LARGE-SCREEN------------------ */


@media screen and (max-width: 1020px) { 

    /* -----------NAVBAR--------------- */
    nav {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
}




  /* -------------MEDIUM-SCREEN------------------ */


@media screen and (max-width: 760px) { 
    

    /* -----------NAVBAR--------------- */

    .list-items {
        display: none;
    }


    .logo img {
        width: 8rem;
    }

    nav {
        display: block;
        flex-direction: column;
       
        margin-top: 2rem;
    }

/* -----------HEADER--------------- */

    .heading h1 {
        font-size: 2.2rem;
        color: #ffffff;  
        margin-bottom: 4rem;
        word-spacing: 0.3rem;   
    }
    
    header button {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1rem;
        color: #ffffff;
        border: 3px solid #ffffff;
        background-color: transparent;
        border-radius: 3rem;
        
    }


}